@model IEnumerable<EmployeeLeaveManagementSystem.Models.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(model => item.LeaveTypeId)
            </td>
            <td>
                @Html.DisplayFor(model => item.LeaveTypes)
            </td>
            <td>
                @Html.DisplayFor(model => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                     <a asp-action="Approve" asp-route-id="@item.Id">Approve</a> |
                    <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
            </td>
        </tr>
}
    </tbody>
</table>
